/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Header Styles */
header {
  background-color: #2000f0;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #ef071a;
}

/* About Styles */
#about {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
}

#about h2 {
  font-size: 2rem;
}

#about p {
  font-size: 1.2rem;
  color: #0e0bdf;
  margin-top: 20px;
}

/* Projects Styles */
#projects {
  padding: 50px;
  background-color: #f4f4f4;
}

.project {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px 0;
}

.project h3 {
  font-size: 1.8rem;
  margin: 0;
}

.project p {
  font-size: 1.2rem;
  color: #4e974e;
  margin-top: 10px;
}

/* Contact Styles */
#contact {
  padding: 50px;
  background-color: #100bb4;
  color: #fff;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
}

#contact p {
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  #about h2 {
    font-size: 1.5rem;
  }

  #about p {
    font-size: 1rem;
  }

  .project h3 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 1rem;
  }

  #contact h2 {
    font-size: 1.5rem;
  }

  #contact p {
    font-size: 1rem;
  }
}
