.App {
  display: grid;
  place-content: center;
  height: 100vh;
}

.App .container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0px 4rem;
  width: 27rem;
  text-align: center;
}

.App .container textarea {
  height: 6rem;
  padding: 1rem;
}

.App .container p {
  margin: 2rem 0;
  align-self: flex-start;
}
